body{
    background-image: url(../images/background.jpg);
    border-style: solid;
    border-color: yellow;

    margin: 0 auto;
}
#gameContent{
    background-color: white;
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
h1{
    text-align: center;
    color: blue;
    font-weight: bolder;    
    font-family: sans-serif;
    padding: 20px;
    margin-top: 0px;
    background-color: white;
    max-width: 960px;
    margin: 0 auto;
}
button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin: 0 auto;
    display: flex; 
    justify-content: center;    

}